@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "flash";
@import "common";
@import "direct_uploads";

h5 {
  align-items: center;
}

.question-title {
  font-family: "Arial Black";
  color: crimson;
}
